body {
    font-family: Helvetica, 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
    padding: 20px 50px 150px;
    font-size: 13px;
    text-align: center;
    background: #ffffff;
}

ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

ul li:hover {
    background: #555;
    color: #fff;
}

ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

ul li ul li {
    background: #cccccc;
    display: block;
    color: #fff;
}

ul li ul li:hover {
    background: #666;
}

ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

#primary_nav_wrap {
    margin-top: 15px
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0
}

#primary_nav_wrap ul a {
    display: block;
    color: #111111;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    padding: 0 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#primary_nav_wrap ul li.current-menu-item {
    background: #aaaaaa
}

#primary_nav_wrap ul li:hover {
    background: #aaaaaa
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #aaaaaa;
    padding: 0
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 5px 5px
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}

#primary_nav_wrap ul li:hover>ul {
    display: block
}